<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Capture</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/capture.css' %}">
</head>
<body>
    <h1>Image Capture</h1>
<div class="container">
    <div class="card">
    <form id="captureForm" method="post" enctype="multipart/form-data" action="{% url 'patient_capture_email' %}">
        {% csrf_token %}
        <br>
        <video id="video" width="640" height="480" autoplay></video>
        <button id="captureButton" class="choose3">Capture Image</button>
        <input type="hidden" id="image_data" name="image_data">
        <input type="hidden" id="email" name="email" value="{{ email }}">
    </form>
</div>
</div>
    <script>
        const video = document.getElementById('video');
        const captureButton = document.getElementById('captureButton');
        const imageDataInput = document.getElementById('image_data');
        const emailInput = document.getElementById('email');

        // Access webcam
        navigator.mediaDevices.getUserMedia({ video: true })
            .then((stream) => {
                video.srcObject = stream;
            })
            .catch((err) => {
                console.error('Error accessing webcam: ', err);
            });

        // Capture image from webcam and submit the form
        captureButton.addEventListener('click', () => {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/jpeg');

            // Set the captured image data to the hidden input field
            imageDataInput.value = imageData;
            
            // Submit the form
            captureForm.submit();
        });
    </script>
</body>
</html>
