<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patient Signup</title>
    {% load static %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <form method="POST" action="{% url 'patient_signup' %}">
        {% csrf_token %}
        <h1 class="heading">Signup section for patients</h1>
        <div class="navbar">
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">ContactUs</a>
                <h3>Mediscan</h3>
            </nav>
        </div>
        <div class="main">
            {% if form.errors %}
                <div class="error-message">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <p>Name:<input type="text" name="name" class="name" placeholder="enter your name"></p>
            <p>Age : <input type="text" class="age" id="age"  name="age"oninput="ValidateAge()"></p>
                <p id="error_message"></p>
            <p>Gender:</p>
            <p>
                Male<input type="radio" class="gender" name="gender" value="M" id="male">
                Female<input type="radio" class="gender" name="gender" value="F" id="female">
                Other<input type="radio" class="gender" name="gender" value="O" id="other">
            </p>
            <p>Email:<input type="email" name="email" id="email" placeholder="email@gmail.com"></p>
            <p>Select your country:<select name="country" id="countrySelect" onchange="updateCountryCode()">
            </select></p>
            <p>PhoneNo:<input type="tel" name="phone_number" id="PhoneNo"></p>
            <p id="countryCode"></p>
            <p>Address:<textarea name="address" id="address" rows="5" cols="100"></textarea></p>
            <p>Pincode:<input type="number" name="pincode" id="pincode"></p>
            <form id="myFormDoc">
                <p>Password: <input type="password" name="password" id="password" placeholder="Enter password" oninput="validatePasswordsDoc()"></p>
                <p>confirmPassword: <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" oninput="validatePasswordsDoc()"> </p>
            </form>
            <p id="message"></p>
            <input type="submit" class="submit" value="Submit">
            <!-- <button type="button" class="next"  onclick="redirectToPage()">Next</button> -->
            <!-- <button type="button" class="button">Next<a href="#"></a></button> -->
        </div>
    </form>
    <!-- Link to your JavaScript files -->
    <script src="{% static "js/password.js" %}"></script>
    <script src="{% static "js/number_country.js" %}"></script>
    <script src="{% static "js/test.js" %}"></script>
</body>
</html>