<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_cap_or_upload.css' %}">
</head>
<body>
    <div class="heading">
        <h1>Capture or Upload patient's image??</h1>
    </div>
    <h3>Mediscan</h3>
    <div class="cover">
    <div class="container">
        
       
        <button onclick="window.location.href='{% url 'doctor_capture_patient' %}';" class="button" id="captureBtn">Capture Image</button>
        <button onclick="window.location.href='{% url 'classify_image' %}';" class="btn2" id="uploadBtn">Upload Image</button>


        
    </div>
</div>
</body>
</html>