<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/person.css" %}>
</head>
<body>
    
        <h1>Choose what you want to do</h1>
        <div class="content">
            <div class="section">
                <div class="card">
                    <a href= "{% url 'add_patient_record' %}" class="button1">Fill New Record</a>
        <a href="{% url 'doctor_capture_or_upload_patient' %}" class="button2">Scan the Patient</a>
                </div>
            </div>
        </div>
        

</body>
</html>