<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Action</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_cap_or_upload.css' %}">
</head>
<body>
    <div class="heading">
    <h1>What you want to do ?</h1>
</div>
<h3>Mediscan</h3>
    <div class="cover">
        <div class="container">
        <button id="captureBtn">Capture Image</button>
        <button id="uploadBtn">Upload Image</button>
    </div>
</div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const userType = urlParams.get('user_type');
        const name = urlParams.get('name');
    
        let captureUrl, uploadUrl;
        if (userType === 'doctor') {
            captureUrl = `{% url 'image_capture_doctor' %}?name=${name}`;
            uploadUrl = `{% url 'image_upload_doctor' %}?name=${name}`;
        } else {
            captureUrl = `{% url 'image_capture_patient' %}?name=${name}`;
            uploadUrl = `{% url 'image_upload_patient' %}?name=${name}`;
        }
    
        document.getElementById("captureBtn").addEventListener("click", function() {
            window.location.href = captureUrl;
        });
    
        document.getElementById("uploadBtn").addEventListener("click", function() {
            window.location.href = uploadUrl;
        });
    </script>
</body>
</html>